<%- include("../_layout/header") -%>
<form action="/produto" method="post">
    <div>
        <label for="">Nome</label>
        <input type="text" name="nome">
    </div>
    <div>
        <label for="">Valor</label>
        <input type="text" name="valor">
    </div>
    <div>
        <input type="submit" value="Salvar">
    </div>
</form>
<%- include("../_layout/footer") -%>