<%- include("../_layout/header") -%>

<div class="row">
    <div class="col-md-12">
        <h1>Bem vindo ao bolão</h1>
    </div>
    <div class="col-md-12">
        <nav>
            <ul>
                <li><a href="/usuarios/cadastro">Usuários</a></li>
                <li><a href="http://"></a></li>
            </ul>
        </nav>
    </div>
</div>
<%- include("../_layout/footer") -%>